.body{
    font-family: sans-serif;
    
}

#w3c {
	float: right;
}

.center{
    text-align: center;
}

#container {
    margin: 0 auto 0 auto;
}

#controls,
#container,
#gameSpace {
	width: 400px;
}

#controls {
	padding-top: 10px;
	text-align: center;
}

.gamePiece{
    background-image: url("./racoon-mario.png");
    height: 96px;
    width: 96px;
    border: 2px solid black;
    font-size: 32pt;
    position: absolute;
	text-align: center;
	vertical-align: middle;
    text-align: center;
}

.moveablepiece:hover{
   border-color: red; 
   color: #006600;
   cursor: pointer;
}

#gameSpace{
    position: relative;
    font-size: 32px;
    padding: 0px;
    height: 400px;
    width: 400px;
}