.body{
    font-family: sans-serif;
    
}

#w3c {
	float: right;
}

.center{
    text-align: center;
}

#container {
    margin: 0 auto 0 auto;
}

#menus,
#container,
#gameSpace {
	width: 400px;
}

.opt-btn {
    margin: 0 20px 0 20px;
    padding: 2px 10px 2px 10px;
}

.time-btn {
    margin: 10px 20px 0 20px;
    padding: 2px 8px 2px 8px;
}

#menus {
	padding-top: 10px;
	text-align: center;
}

#shufflebutton {
    margin: 10px;
}

#options {
    padding-bottom: 10px;
    text-align: center;
}

.gameTile{
    background-image: url("./racoon-mario.png");
    height: 96px;
    width: 96px;
    border: 2px solid black;
    font-size: 32pt;
    position: absolute;
	text-align: center;
	vertical-align: middle;
    text-align: center;
}

.gameTile:active {
    animation: fade 0.35s;
}

#gameSpace{
    position: relative;
    font-size: 32px;
    padding: 0px;
    height: 400px;
    width: 400px;
}

.winner {
    visibility: hidden;
    position: absolute;
    border-style: solid;
    border-color: black;
    width: 90%;
    height: 50%;
    color: black;
    text-align: center;
    z-index: 1;
    margin: 0 auto;
    border-radius: 25px;
    top: 100px;
    left: 0;
    right: 0;
    background: url('./pikachu-mario.png');


}

.result {
    border: black;
    border-style: solid;
    border-radius: 20px;
    background-color: white;
    position: relative;
    margin: auto;
    width: 50%;
    height: 100px;
}


.loser {
    visibility: hidden;
    position: absolute;
    border-style: solid;
    border-color: black;
    width: 90%;
    height: 50%;
    color: black;
    text-align: center;
    z-index: 1;
    margin: 0 auto;
    border-radius: 25px;
    top: 100px;
    left: 0;
    right: 0;
    background: url('./gameover.jpeg');
}


@keyframes fade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}